{% extends 'backend/Articulo/baseEditarArticulo.html.twig' %}
{% block editarArticulo %}
    <div class="mt-2">
        {# <div class="container" style="height:200px;" style="z-index:0"> #}
            <!-- Swiper -->
            <style>
                .swiper-container {
                    width: 100%;
                    height: 250px;
                    margin: 20px auto;
                }

                .swiper-slide {
                    text-align: center;
                    font-size: 18px;
                    background: #fff;

                    /* Center slide text vertically */
                    display: -webkit-box;
                    display: -ms-flexbox;
                    display: -webkit-flex;
                    display: flex;
                    -webkit-box-pack: center;
                    -ms-flex-pack: center;
                    -webkit-justify-content: center;
                    justify-content: center;
                    -webkit-box-align: center;
                    -ms-flex-align: center;
                    -webkit-align-items: center;
                    align-items: center;
                }
            </style>
            {# <div class="swiper-container">
                <div class="swiper-wrapper">
                    {% for foto in articulo.fotografias %}
                    <div class="swiper-slide">
                        <div class="card" style="width: 18rem;">
                            <img src="{{foto.getWebThumbnailNombreArchivo}}" class="img-fluid" alt="Responsive image" style="height:150px">
                            <div class="card-body">
                                <form method="POST", action="{{ url('backend_articulo_fotografia_eliminar', {'id': foto.id }) }}">
                                    <input type="submit" class="btn btn-sm btn-danger text-light" value="Eliminar" />
                                </form>
                                {% if articulo.fotografiaprincipal is not null and articulo.fotografiaPrincipal.id == foto.id %}
                                    <span>Foto principal</span>
                                {% else %}
                                <form method="POST", action="{{ url('backend_articulo_fotografia_principal', {'id': foto.id }) }}">
                                    <input type="submit" class="btn btn-sm btn-success text-light" value="Principal" />
                                </form>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                <!-- Add Pagination -->
                <div class="swiper-pagination"></div>
                <!-- Add Arrows -->
                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>
            </div> #}
            <div class="fotografias">
                <div class="container contenido">
                    <div class="row">
                        {% for foto in fotografias %}
                        <div class="col-lg-4 col-md-4 col-sm-12">
                            <div class="card mb-3 text-center" style="max-height:300px;min-height:300px">
                                <div class="card-header">
                                    {% if articulo.fotografiaprincipal is not null and articulo.fotografiaPrincipal.id == foto.id %}
                                        <span class="btn btn-sm btn-link text-dark">Foto principal</span>
                                    {% else %}
                                        <span class="btn btn-sm btn-link text-dark">Foto</span>
                                    {% endif %}
                                </div>
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-lg-5 col-md-5 col-sm-12 text-center">
                                            {# <center>
                                                <img class="img-fluid img-thumbnail rounded mx-auto d-block" src="{{foto.getWebThumbnailNombreArchivo}}" alt="Card image cap">
                                            </center> #}
                                            <picture>
                                                <source srcset="{{foto.getFotografiaM}}" type="image/svg+xml">
                                                <img src="{{foto.getFotografiaM}}" class="img-fluid rounded-circle" alt="...">
                                            </picture>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-footer form-inline">
                                    <form method="POST", action="{{ url('backend_articulo_fotografia_eliminar', {'id': foto.id }) }}">
                                        <input type="submit" class="btn btn-sm btn-link text-danger" value="Eliminar" />
                                    </form>
                                    {% if articulo.fotografiaprincipal is not null and articulo.fotografiaPrincipal.id != foto.id %}
                                        <form method="POST", action="{{ url('backend_articulo_fotografia_principal', {'id': foto.id }) }}">
                                            <input type="submit" class="btn btn-sm btn-link text-success" value="Principal" />
                                        </form>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <ul class="pagination justify-content-center">
                                {{ knp_pagination_render(fotografias, null, {}, {
                                            'size': 'small',
                                            'rounded': false,
                                            }) }}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        {# </div> #}
        <div class="mt-5" style="z-index:1">
            <form method="POST" action="{{ url('backend_articulo_fotografia', {'articulo_id': articulo.id}) }}" enctype="multipart/form-data">
                <div class="file-loading mt-3">
                    <input id="input-fotografias" name="fotografias[]" type="file" multiple required="true">
                </div>
                <div class="text-right mt-3">
                    <input type="submit" class="btn btn-sm btn-success" value="Subir fotografias"/>
                </div>
            </form>
        </div>
        <script>
            $("#input-fotografias").fileinput({
                language: "es",
                uploadUrl: "/",
                allowedFileExtensions: ["jpg", "png", "jpeg"],
                maxImageWidth: 1080,
                maxImageHeight: 720,
                maxFileSize: 2048,
                showUpload: false,
                initialCaption: "sube las fotos del articulo"
            });
            function paginator(url) {
                $.ajax({
                    type: "GET",
                    url: url,
                    beforeSend: function (s) {
                        $('#loading').text('Cargando...');
                        $('#loading').removeClass('d-none');
                    },
                    success: function (s) {
                        rs = JSON.parse(s);
                        if (rs.type == 'load') {
                            $('.fotografias .contenido').empty();
                            $('.fotografias .contenido').html(rs.content);
                        } else {
                            swal({title: "Oops", text: rs.message, timer: 4000, icon: "error", button: false, });
                        }
                        $('#loading').addClass('d-none');
                    },
                    error: function (s) {
                        $('#loading').addClass('d-none');
                        swal({title: "Oops", text: 'Error en la peticion', timer: 3000, icon: "error", button: false, });
                    }
                });
                return false;
            }
            $('a[class="desc"]').on('click', function (e) {
                e.preventDefault();
                paginator($(this).attr('href'));
            });
            $('a[class="asc"]').on('click', function (e) {
                e.preventDefault();
                paginator($(this).attr('href'));
            });
            $('a[class="sortable"]').on('click', function (e) {
                e.preventDefault();
                paginator($(this).attr('href'));
            });
            $('a[class="page-link"]').on('click', function (e) {
                e.preventDefault();
                paginator($(this).attr('href'));
            });
        </script>
        
    </div>
{% endblock %}
